html , body{
	font-family: 'Montserrat', sans-serif;
	margin: 0 ;
	padding: 0;
	width: 1200px;
}

header{
	width: 100%;
	background-color:rgb(44,45,60);
	/*display: table;*/
	position: relative;
	float: left;
	height: 100px;
	z-index: 10;
	position: fixed;
}

.scrollon{
	background-color: white;
	color: #333447;
}
nav{
	width: 100%;
}
.logo{
	height: 50px;
	width: 70px;
	display: inline-block;
	margin: 30px;
}
.fuente{
	width: 100%;
	display: table;
}
.uno , .dos{
	display: inline-block;
}
.uno{
	width: 20%;
}
.dos{
	width: 70%;
	right: 0;
	position: absolute;
}

input{
	font-family: 'Montserrat', sans-serif;
	color: #bfc7d9;
	border: 1px solid white;
	background-color: transparent;
	border-bottom: 1px solid #bfc7d9;
}
.lista >div{
	border: 1px solid white;
	padding: 9px;
	border-radius: 7px;
	padding: 5px;
}
.lista{
	list-style: none;
	color: white;
	display: inline-block;
	margin: 10px 40px;
}
.formulario{
	position: absolute;
	top: 100px;
	right: 130px;
	background-color: white;
	padding: 30px;
}
.formulario > h1{
	width: 200px;
	font-size: 30px;
}
.nota >p{
	font-size: 8px;
	margin-top: 20px;

}
h1 ,h5{
	color: #352384
}
.bloq{
	display: inline-block;
	font-size: 10px;
	margin-left: 10px;
}
button{
	background-color: #FF00BF;
	border-radius: 9px;
	color: white;
	padding: 10px;
}
.fondo{
 /* background-color:#333447;*/
  background-image: linear-gradient(#76278f ,#2B1E66);

}
.bloques{
	display: table;
	width: 100%;	
	position: relative;
}
.text-1{
	display: inline-block;
}
.text-1 img{
	height: 700px;
	margin: 20px;

}
.text-1-1{
	top: 20px;
	position: absolute;
}
.coment{
	padding:30px 0;
	margin-left: 50px;
	color: white;
}
.coment > p{
	font-size: 10px;
}

.text-1 >img{
	right: -400px;
	position: relative;
}
.videos{
	margin: 0;
	padding: 0;
	color: black;
	position: relative;
}
iframe{
	width: 65%;
	height: 450px;
	display: inline-block;
}
.video-text{
	width: 34.5%;
	display:inline-block;
}
.texto{
	margin-left: 30px;
	margin-right: 20px;
	top: 10px;
	text-align: justify;
	position: absolute;
	width: 300px;
}
h6{

}
footer{
	background-color: #333447;
	color: white;
}
.barra{
	display: inline-block;
	text-align: left;
	margin: 20px 50px;
}
.indice{
	list-style: none;
	margin: 30px;
}
.logos{
	height: 40px;
	width: 90px;
	display: block;
	margin-bottom: 20px;
}
hr{
	width: 70%;
}

.firma{
	text-align: center;
	padding: 30px;
}
.indice:hover{
	color: #FF00BF;
}
.invisible{
	display: none;
}
.visible{
 display: block;
}